:root {
    --azul: #3b82f6;
    --blanco: #ffffff;
    --gris-claro: #f5f5f5;
    --gris: #94a3b8;
    --gris-oscuro: #64748b;
    --negro: #000;
}

body {
     
    font-family: "Lato", sans-serif;
    background-color: var(--gris-claro);
}
html {
     
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.fijar {
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1rem;
}

.sombra {
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    background-color: var(--blanco);
    padding: 4rem;
    border-radius: 1.2rem;
}

header {
    background: linear-gradient( 10deg, rgb(42, 38, 46), blue, rgb(2, 86, 119),  black);  
    width: 100%;
    height: 300px;
}
.icono-header{
    color: white;
    font-size: 80px;
    text-align: center;
     
    margin-top: -35px;
    margin-bottom: 65px;
}

 

header h1 {
    padding: 3rem 0;
    margin: 0;
     
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.footermensaje{
    text-align: center;
    margin-top: 8rem;
}
.mejora{
    text-transform: uppercase;
    font-weight: 900;
}


.formulario {     
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 15px;
}
@media (min-width: 768px) {
    .formulario {
        padding: 5rem 0;
        width: 60rem;
    }
}
.formulario legend {
    font-size: 3.6rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: var(--blanco);
     
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--azul);
}
 

.formulario label {
    color: var(--blanco);
    font-size: 1rem;
    margin-top: 2rem;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    background-color: transparent;
    border-radius: .5rem;
    border: 1 solid black;
    width: 70%;
    text-align: center;
    font-size: 16px;
    padding: .5rem;
    
    flex: 1;
     
}
.formulario input[type="submit"] {
    background-color: transparent;
    border: 1 solid black;
    border-radius: 8px;
    margin-left: 15%;
    margin-right: 15%;
    padding: .8rem ;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 20px;
    color: var(--blanco);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    width: 70%;
    transition: background-color 300ms ease;
}
@media (min-width: 768px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 5rem;
    }
}
.formulario input[type="submit"]:hover {
    background-color: #042a67;
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: .6rem 1rem ;
    border: 1 solid rgba(255, 255, 255, 0.397);
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    width: 70%;
    color: white;
    background-color: transparent;
}

.alerta {
    padding: 1rem 5rem;
    max-width: 60rem;
    margin: 2rem auto 2rem auto;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}
.alerta.error {
    background-color: var(--blanco);
    border-bottom: 5px solid #b91c1c;
    color: #b91c1c;
}
 

.contenedor {
     
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
    height: 200px;
    background-color: #7e80837e;
    border: 1px solid black;
    border-radius: 15px;
}
.contenedor-presupuesto {
     
    margin-top: -4rem;
     padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

 
.dos-columnas {
    flex-direction: row;
    gap: .5rem;
       
}
 
@media (min-width: 768px) {
    .dos-columnas {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    .dos-columnas > div {
        width: 50%;
    }
    .dos-columnas :first-child {
        margin-bottom: 0;
    }
}
.formulario input[type="text"].nuevo-presupuesto, 
.formulario input[type="number"].nuevo-presupuesto {
    font-size: 2.8rem;
    text-align: center;
}

.contenedor-presupuesto svg {
    width: 7rem;
    margin: 0 auto;
}

.contenido-presupuesto {
    width: 100%;
}
.contenido-presupuesto p {
    font-weight: 400;
    color: var(--gris-oscuro);
    font-size: 2.4rem;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-presupuesto p {
        text-align: left;
    }
}
.contenido-presupuesto p.negativo,
.contenido-presupuesto p.negativo span {
    color: red;
}
.contenido-presupuesto span {
    font-weight: 900;
    color: var(--azul);
}
.reset-app {
    border: none;
    background-color: #db2777;
    padding: .5rem;
    width: 70%;
    margin-top: 0;
    font-size: 10px;
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 900;
    border-radius: .3rem;
    transition-property: background-color;
    transition-duration: 300ms;
}
p{
     
    font-size: 13px;
}
span{
    color: white;
}
.reset-app:hover {
    background-color: #c71465;
    cursor: pointer;
}

main {
    padding-top: .2rem;
       
}
.filtros{
    
    padding: 0 1rem ;
    margin: 1rem 1rem;
    background: none;
    border: px solid rgb(219, 218, 218);
    
}

.campo {
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
     
}
.filtros label {
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 1rem;
     
}
.filtros select {
    flex: 1;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.582);
    

}


 
.listado-gastos h2 {
    color: var(--gris-oscuro);
    font-weight: 900;
     
}
.no-gastos {
    text-align: center;
    font-size: 2rem;
     
}

.gasto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 1rem;
    width: 95%;
    margin: 1rem auto;
    background-color: white;
    border: 1px solid black;
    padding: 2rem;
}

.edicion-gasto{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.cantidad-gasto {
    font-size: 1rem;
    color: var(--negro);
    font-weight: 900;
    
}
.header-gasto{
    display: flex;
    gap: 1rem;  
}

.contenido-gasto {
     
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    
}

.contenido-gasto img {
    width: 3rem;
}

.descripcion-gasto p {
    margin: 0 0 0.3rem 0;
}
.categoria {
    color: var(--gris);
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
 
.descripcion-gasto .nombre-gasto {
    color:black;
    font-size: 1.2rem;
    font-weight: 700;
     
    
}
.descripcion-gasto .nombre-gasto:hover {
    cursor: pointer;
}
.descripcion-gasto .fecha-gasto {
    font-size: 1.2rem;
    font-weight: 900;
    color:blue;
    
}
.descripcion-gasto .fecha-gasto span {
    font-weight: 400;
    color: black;
}

.nuevo-gasto {
    position: fixed;
    bottom: 15rem;
    right: .5rem;
    
}

.nuevo-gasto img {
    width: 3.5rem;
}
.nuevo-gasto img:hover {
    cursor: pointer;
}

.modal {
    position: absolute;
    background-color: rgb(0 0 0 / 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

 
.modal .cerrar-modal {
    position: absolute;
    right: 3.5rem;
    top: 3.2rem;
    width: 1.3rem;
    height: 3rem;
}
.modal .cerrar-modal img {
    width: 100%;
}

.modal .formulario {
     
    width:80%;
    border: 1px solid rgba(255, 255, 255, 0.274);
    margin-left: 10%;
    margin-right: 10%; 
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
     
    
}
.modal label {
    color: var(--blanco);
}
body .modal {
    overflow: hidden;
}

.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}

.modal label {
    text-align: left;
}

.modal legend{
    font-size: 1.5rem;
    margin-top: 2rem;
}
 

.CircularProgressbar .CircularProgressbar-text {
    font-size: .7rem !important;
     

}

 
.iconoEdit{
    font-size: 30px;
    color: blue;
    margin: 0;    
}

.iconoDelete{
    font-size: 40px;
    color: #fc0404;
    margin: 0;    

}