    small{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 5px;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -50px 36px -28px inset;
    padding: 10px;
    border-bottom-left-radius: 15px;
    text-transform: uppercase;
    line-height: 1;
     animation: cambiar 2s 1 ;
     animation-timing-function: ease;
     display: inline-block;
     transform: translateY(0);
      
}

@media (min-width: 1200px){
    small{
        font-size: 40px;
    }
}

small:nth-child(1){
    animation-delay: 0;
}

small:nth-child(2) {
    animation-delay: 0.2s;
}

small:nth-child(3) {
    animation-delay: 0.4s;
}

small:nth-child(4) {
    animation-delay: 0.6s;
}
small:nth-child(5) {
    animation-delay: 0.8s;
}
small:nth-child(6) {
    animation-delay: 0.3s;
}


small:nth-child(7) {
    animation-delay: 0.2s;
}

small:nth-child(8) {
    animation-delay: 0.4s;
}

small:nth-child(9) {
    animation-delay: 0.6s;
}
small:nth-child(10) {
    animation-delay: 0.8s;
}
small:nth-child(11) {
    animation-delay: 0.3s;
}

small:nth-child(12) {
    animation-delay: 0.2s;
}

small:nth-child(13) {
    animation-delay: 0.4s;
}

small:nth-child(14) {
    animation-delay: 0.6s;
}
small:nth-child(15) {
    animation-delay: 0.8s;
}
small:nth-child(16) {
    animation-delay: 0.3s;
}

@keyframes cambiar{
    0%{
        transform: translateY(0);
         
    }
    
    50%{
        transform: translateY(110px);
        
    }
    
    150% {
        transform: translateY(130px);
         
    
        }
}

